<html>
	<head>
	<title>Confirmation</title>
	<img src="assets/logo_1.png" height="100px">
	</head>
	<body>
	<ul id="nav">
		<li><a href="">Home</a></li>
		<li><a href="login">Sign-In & Account</a></li>
		<li><a href="flight">Booked Flights</a></li>
	</ul>
	<h1>Confirmation</h1>
	<p>Your booking is confirmed</p>
	<h2>Confirmation #:</h2>
	<h2>Date of Departure</h2>
	<h2>Date of Arrival</h2>
	<h2>Travelers</h2>
	</body>
</html>