<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="assets/event.css">
<title>Events</title>
<a href="/"><img src="/assets/logo_1.png" height="100px"></a>
</head>
<body>
<div class="container">
      <div class="nav">
      <ol id="nav">
      <li><a href="/">HOME</a></li>
      <li><a href="login">REGISTER<br>LOGIN</a></li>
      <li><a href="profile">PROFILE</a></li>
      <li><a href="flight">FLIGHTS</a></li>
      <li><a href="hotel">HOTELS</a></li>
      <li><a href="event">EVENTS</a></li>
      </ol>
      </div><br><br><br>
<h1 style="font-family: 'Questrial', sans-serif;">Events</h1>
<h2 style="font-family: 'Questrial', sans-serif;"">Seattle</h2>
<figure class="snip0016">
      <img src="assets/event/festival.jpg">
      <figcaption>
            <h2>Fest&aacute;l &ndash; <span>Asian Pacific Islander</span> Celebration</h2>
            <p>Experience the cultural roots of the Asian-Pacific Islands through live performances, hands-on activities, and food on Sunday, May 7th.</p>
            <a href="#"></a>
      </figcaption>                 
</figure>
<figure class="snip0016">
      <img src="assets/event/storm.jpg">
      <figcaption>
            <h2>Seattle <span>Storm</span> vs. New York <span>Liberty</span></h2>
            <p>Seattle Storm and New York Liberty square off on Friday, May 26th at KeyArena.</p>
            <a href="#"></a>
      </figcaption>                 
</figure>
<figure class="snip0016">
      <img src="assets/event/ferrari.jpg">
      <figcaption>
            <h2><span>Ferrari</span> Day </h2>
            <p>An event to see some of the most valuable and coveted Ferraris in the US.</p>
            <a href="#"></a>
      </figcaption>                 
</figure>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<h2 style="font-family: 'Questrial', sans-serif;"">San Francisco</h2>
<figure class="snip0016">
      <img src="assets/event/gucci.jpg">
      <figcaption>
            <h2>Gucci <span>Mane</span> </h2>
            <p>Live at the Warfield Theater on Friday, April 21st.</p>
            <a href="#"></a>
      </figcaption>                 
</figure>
<figure class="snip0016">
      <img src="assets/event/shark.jpg" style="height: 180px;">
      <figcaption>
            <h2>San Jose <span>Sharks</span> Edmonton <span>Oilers </span></h2>
            <p>Playoff game on Saturday, April 22nd. Round 1, Home Game 3. </p>
            <a href="#"></a>
      </figcaption>                 
</figure>
<figure class="snip0016">
      <img src="assets/event/sneakercon.jpg">
      <figcaption>
            <h2><span>Sneaker</span> Con </h2>
            <p>The world's premier sneaker show, providing a huge space for vendor &amp; attendees to buy, sell, and trade some of the most sought after footwear. April 29th.</p>
            <a href="#"></a>
      </figcaption>                
</body>
<footer><br><br><hr>
	<p>22 Travel&trade; 2017. All rights reserved.</p>
</footer>
</html>