<html>
<head>
	<title>Boomin' Travel</title>
	<style>
	html{
	background-color: #FF352B;
}
#nav ul{
	list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0;
}
	</style>
  </script>
</head>
<body>
	<ul id="nav">
		<li><a href="">Home</a></li>
		<li><a href="login">Sign-In & Account</a></li>
		<li><a href="flight">Booked Flights</a></li>
	</ul>
	<h1>Flight Search</h1>
		<input type="text" name="search" placeholder="Location, Destination, etc."> 
	<h2>Date of Departure</h2>
		<P><input type="text" id="datepicker"></P>
	<h2>Date of Arrival</h2>
	<h2>Number of Passengers</h2>
	<button>Search for Flights</button>
</body>
</html> 