<html>
<head>
	<title>Flights</title>
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<%= stylesheet_link_tag "flight" %>
</head>
<body>
	<img src="assets/logo_1.png" height="100px">
</head>
<body>
<div class="container">
	<div class="nav">
		<ul>
			<li><a href="/">HOME</a></li>
			<li><a href="login">REGISTER/LOGIN</a></li>
			<li><a href="profile">PROFILE</a></li>
			<li><a href="flight">FLIGHTS</a></li>
			<li><a href="hotel">HOTELS</a></li>
			<li><a href="event">EVENTS</a></li>
			<button><a href="/">Logout</a></button>
		</ul>
	</div>
	<br>
	<h1>Flight Search</h1>
	<input type="text" name="search" placeholder="Location, Destination, etc.">
	<h2>Date of Departure</h2>
	<p><input type="text" id="datepicker"></p>
	<h2>Date of Arrival</h2>
	<p><input type="text" id="datepicker"></p>
	<h2>Number of Passengers</h2>
	<button>Search for Flights</button>
</div>
</body>
<footer>
	<p>Boomin' Travel © 2017. All rights reserved.</p>
</footer>
</html>
