<html>
<head>
	<title>Boomin' Travel</title>
	<style>
	.container{
	background-color: #FF352B;
	}
	#nav {
		display: inline;
		padding: 20px;
	}
	</style>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
	$( function() {
		$( "#datepicker" ).datepicker();
	} );
	</script>
	<%= stylesheet_link_tag "flight" %>
</script>
</head>
<body>
	<img src="assets/logo_1.png" height="100px">
</head>
<body>
<div class="container">
	<ul class="nav">
		<a href=""><img src="assets/home.png" height="100px"></a>
		<a href="login"><img src="assets/signin.png" height="100px"></a>
		<a href="profile"><img src="assets/account.png" height="100px"></a>
		<a href="flight"><img src="assets/flight.png" height="100px"></a>
		<a href="hotel"><img src="assets/hotel.png" height="100px"></a> 
		<a href="event"><img src="assets/event.png" height="100px"></a>
	</ul>
	<h1>Flight Search</h1>
	<input type="text" name="search" placeholder="Location, Destination, etc.">
	<h2>Date of Departure</h2>

	<p><input type="text" id="datepicker"></p>
	<P><input type="text" id="datepicker"></P>

	<h2>Date of Arrival</h2>
	<h2>Number of Passengers</h2>
	<button>Search for Flights</button>
</div>
</body>
</html>
