<html>
<head>
	<title>Home</title>
	<img src="assets/logo_1.png" height="100px">
	<style>
	#container {
		background-color: #FFBB93;
	}
	#nav {
		display: inline;
		padding: 20px;
	}
	</style>
<body>
<div id="container">
	<ul id="nav">
		<li><a href="">Home</a></li>
		<li><a href="login">Sign-In or Register</a></li>
		<li><a href="profile">Account</a></li>
		<li><a href="flight">Book Flights</a></li>
		<li><a href="hotel">Book Hotels</a></li>
	</ul>
</div>
</body>
</html>