<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<title>Home</title>
	<img src="assets/logo_1.png" height="100px">
	<style>
	
	.container {
		
	}
	.nav ul{
		background-color: ;
		display: inline;
		padding: 20px;
		width: 100%;
		text-align: center;
	}
	p {width: 500px;}
	</style>
	<script>	
	var slideIndex = 1;
	showDivs(slideIndex);

	function plusDivs(n) {
	  showDivs(slideIndex += n);
	}

	function showDivs(n) {
	  var i;
	  var x = document.getElementsByClassName("mySlides");
	  if (n > x.length) {slideIndex = 1}    
	  if (n < 1) {slideIndex = x.length}
	  for (i = 0; i < x.length; i++) {
	     x[i].style.display = "none";  
	  }
	  x[slideIndex-1].style.display = "block";  
	}
	</script>
<body>
<div class="container">
	<div class="nav">
		<ul>
			<li><a href="/">HOME</a></li>
			<li><a href="login">REGISTER/LOGIN</a></li>
			<li><a href="profile">PROFILE</a></li>
			<li><a href="flight">FLIGHTS</a></li>
			<li><a href="hotel">HOTELS</a></li>
			<li><a href="event">EVENTS</a></li>
			<button><a href="/">Logout</a></button>
		</ul>
	</div>


<br><br>
<div class="slides">
  <img class="mySlides" src="assets/slide/seattle.jpg" style="width:25%">
  <img class="mySlides" src="assets/slide/portland.jpg" style="width:25%">
  <img class="mySlides" src="assets/slide/bevhills.jpg" style="width:25%">
  <img class="mySlides" src="assets/slide/arizona.jpg" style="width:25%">

  <button class="display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="display-right" onclick="plusDivs(1)">&#10095;</button>
</div>
<!--  <div id="slide">
	<img class="mySlides" src="assets/slide/seattle.jpg" height="250px"><
	<img class="mySlides" src="assets/slide/portland.jpg" height="250px">
	<img class="mySlides" src="assets/slide/bevhills.jpg" height="250px">
	<img class="mySlides" src="assets/slide/arizona.jpg" height="250px">
</div> -->
	<p>A personal concierge present right in front of you. Simply enter in location, dates of travel, reason for traveling (business or personal), and interests. The site then highlights local happenings, restaurants, weather conditions, etc. A platform to discover unique things and experience places the way the locals do.</p>

</div>
</body>
</html>