<html>
<head>
	<title>Home</title>
	<img src="assets/logo_1.png" height="100px">
	<style>
	#container {
		background-color: #FFBB93;
	}
	#nav {
		display: inline;
		padding: 20px;
	}
	</style>
<body>
<div id="container">
	<ul id="nav">
		<a href=""><img src="assets/home.png" height="200px"></a>
		<a href="login"><img src="assets/signin.png" height="200px"></a>
		<a href="profile"><img src="assets/account.png" height="200px"></a>
		<a href="flight"><img src="assets/flight.png" height="200px"></a>
		<a href="hotel"><img src="assets/hotel.png" height="200px"></a>
	</ul>
</div>
</body>
</html>