<html>
<head>
	<title>Hotel</title>
	<img src="assets/logo_1.png" height="100px">
	<style>
	.container{
	background-color: #FF352B;
}
	#nav {
	display: inline;
	padding: 20px;
	}
	</style>
</head>
<body>
<div class="container">
	<ul id ="nav">
		<li><a href="">Home</a></li>
		<li><a href="login">Sign-In & Register</a></li>
		<li><a href="profile">Account</a></li>
		<li><a href="flight">Book Flights</a></li>
		<li><a href="hotel">Book Hotels</a></li>
	</ul>
	<h1>Hotel Search</h1>
		<input type="text" name="search" placeholder="Location, Destination, etc.">
	<h2>Check-In Date</h2>
	<h2>Check-Out Date</h2>
	<h2>Number of People</h2>
	<button>Search for Hotels</button>
</div>
</body>
</html> 