<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<%= stylesheet_link_tag "flight" %>
	<title>Book Your Hotel</title>
	<a href="/"><img src="assets/logo_1.png" height="100px"></a>
	<style>
	.nav {margin-left: 170px;}
	</style>
</head>
<body>
<div class="container">
	<ol id="nav">
      <li><a href="/">HOME</a></li>
      <li><a href="login">REGISTER<br>LOGIN</a></li>
      <li><a href="profile">PROFILE</a></li>
      <li><a href="flight">FLIGHTS</a></li>
      <li><a href="hotel">HOTELS</a></li>
      <li><a href="event">EVENTS</a></li>
	</ol>
	</div><br><br><br><br>
	<h1>Hotel Search</h1>
	<form action="/requestHotel" method='post'>
		<input type="text" name="city" placeholder="Location, Destination, etc.">
		<h2>Check-In Date</h2>
		<input type="date" name='checkIn'>
		<h2>Check-Out Date</h2>
		<input type="date" name='checkOut'>
		<h2>Number of People</h2>
		<button>Search for Hotels</button>
	</form>
</div>
</body>
<footer>
	<p>Boomin' Travel&trade; 2017. All rights reserved.</p>
</footer>
</html>
