<html>
<head>
	<title>Hotel</title>
	<img src="logo.png" height="100px">
	<style>
	html{
	background-color: #FF352B;
}
	#nav ul{
	list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0;
	}
	</style>
</head>
<body>
	<ul id ="nav">
		<li><a href="">Home</a></li>
		<li><a href="login">Sign-In & Account</a></li>
		<li><a href="flight">Booked Flights</a></li>
	</ul>
	<h1>Hotel Search</h1>
		<input type="text" name="search" placeholder="Location, Destination, etc.">
	<h2>Check-In Date</h2>
	<h2>Check-Out Date</h2>
	<h2>Number of People</h2>
	<button>Search for Hotels</button>
</body>
</html> 