<html>
<head>
	<title>Search Results</title>
</head>
	<div class="nav">
	<ol id="nav">
      <li><a href="/">HOME</a></li>
      <li><a href="login">REGISTER<br>LOGIN</a></li>
      <li><a href="profile">PROFILE</a></li>
      <li><a href="flight">FLIGHTS</a></li>
      <li><a href="hotel">HOTELS</a></li>
      <li><a href="event">EVENTS</a></li>
	</ol>
	</div><br><br><br>

<h1>Search Results</h1>
<%= f.text_field :city %>
<%= hotel["city"] %>
</html>