<html>
<head>
	<title>Hotel</title>
	<img src="assets/logo_1.png" height="100px">
	<style>
	.container{
	background-color: #FF352B;
}
	#nav {
	display: inline;
	padding: 20px;
	}
	</style>
</head>
<body>
<div class="container">
	<div class="nav">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="login">Register/Login</a></li>
			<li><a href="profile">Profile</a></li>
			<li><a href="flight">Flight</a></li>
			<li><a href="hotel">Hotel</a></li>
			<li><a href="event">Event</a></li>
		</ul>
	</div>
	<h1>Hotel Search</h1>
		<input type="text" name="search" placeholder="Location, Destination, etc.">
	<h2>Check-In Date</h2>
	<h2>Check-Out Date</h2>
	<h2>Number of People</h2>
	<button>Search for Hotels</button>
</div>
</body>
</html>
