<html>
<head>
<img src="assets/logo_1.png" height="100px">
<style>
.container {
	background-color: #FFA7A0;
}
#nav {
	display: inline;
	padding: 20px;
}
</style>
</head>
<body>
<div class="container">
	<ul id="nav">
		<li><a href="">Home</a></li>
		<li><a href="login">Sign-In & Register</a></li>
		<li><a href="profile">Account</a></li>
		<li><a href="flight">Book Flights</a></li>
		<li><a href="hotel">Book Hotels</a></li>
	</ul>
	<img src="assets/user.svg" height="200px">
	<p>First Name:</p>
	<p>Last Name:</p>
	<p>Phone Number:</p>
	<p>Email:</p>
	<p>Country:</p>
	<p>Interests:</p>
	<p>Last Item Booked</p>
</div>
</body>
</html>