<html>
<head>
<title>Profile</title>
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link rel="stylesheet" href="assets/profile.css">
<style type="text/css">
	html{background-color: #F3E88C;}
</style>
<a href="/"><img src="assets/logo_1.png" height="100px"></a>
</head>
<body>
<div class="container">
	<div class="nav">
	<ol id="nav">
      <li><a href="/">HOME</a></li>
      <li><a href="login">REGISTER<br>LOGIN</a></li>
      <li><a href="profile">PROFILE</a></li>
      <li><a href="flight">FLIGHTS</a></li>
      <li><a href="hotel">HOTELS</a></li>
      <li><a href="event">EVENTS</a></li>
	  <button><a href="/">Logout</a></button>
	</ol>
	</div>
	<br><br><br><img src="assets/user.svg" height="200px">
	<% if session[:current_user] %>
		<p>Name: <%= session[:current_user][0]["name"] %></p>
		<p>Phone Number:</p>
		<p>Email:<%= session[:current_user][0]["email"] %></p>
		<p>Country:</p>
		<p>Interests:</p>
		<p>Last Item Booked</p>
	<% end %>
</div>

</body>
<footer>
	<p>22 Travel&trade; 2017. All rights reserved.</p>
</footer>
</html>