<html>
<head>
<img src="assets/logo_1.png" height="100px">
<style>
.container {
	background-color: #FFA7A0;
}
#nav {
	display: inline;
	padding: 20px;
}
</style>
</head>
<body>
<div class="container">
	<div>
		<ul id="nav">
			<a href="/"><img class="pure-img" src="assets/home.png" height="100px"></a>
			<a href="login"><img src="assets/signin.png" height="100px"></a>
			<a href="profile"><img src="assets/account.png" height="100px"></a>
			<a href="flight"><img src="assets/flight.png" height="100px"></a>
			<a href="hotel"><img src="assets/hotel.png" height="100px"></a>
			<a href="event"><img src="assets/event.png" height="100px"></a>
			<a href='logout'><button>Log Out</button></a>
		</ul>
	</div>
	<img src="assets/user.svg" height="200px">
	<% if session[:current_user] %>
		<p>Name: <%= session[:current_user][0]["name"] %></p>
		<p>Phone Number:</p>
		<p>Email:<%= session[:current_user][0]["email"] %></p>
		<p>Country:</p>
		<p>Interests:</p>
		<p>Last Item Booked</p>
	<% end %>
</div>
</body>
</html>