<html>
<head>
<img src="assets/logo_1.png" height="100px">
</head>
<body>
	<p>First Name:</p>
	<p>Last Name:</p>
	<p>Phone Number:</p>
	<p>Email:</p>
	<p>Country:</p>
	<p>Interests:</p>
	<p>Last Item Booked</p>
</body>
</html>