<html>
<head>
	<link rel="stylesheet" href="flight.css">
	<title>Boomin' Travel</title>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
  <img src="logo.png" height="100px">
</head>
<body>
	<ul id="nav">
		<li><a href="">Home</a></li>
		<li><a href="">Sign-In & Account</a></li>
		<li><a href="">Booked Flights</a></li>
	</ul>
	<h1>Flight Search</h1>
		<input type="text" name="search" placeholder="Location, Destination, etc."> 
	<h2>Date of Departure</h2>
		<P><input type="text" id="datepicker"></P>
	<h2>Date of Arrival</h2>
	<h2>Number of Passengers</h2>
	<button>Search for Flights</button>
</body>
</html>