<html>
<head>
	<title>Hotel</title>
	<img src="logo.png" height="100px">
	<%= stylesheet_link_tag "hotel.css" %>
</head>
<body>
	<ul id ="nav">
		<li><a href="">Home</a></li>
		<li><a href="">Sign-In & Account</a></li>
		<li><a href="">Booked Flights</a></li>
	</ul>
	<h1>Hotel Search</h1>
		<input type="text" name="search" placeholder="Location, Destination, etc.">
	<h2>Check-In Date</h2>
	<h2>Check-Out Date</h2>
	<h2>Number of People</h2>
	<button>Search for Hotels</button>
</body>
</html>