<html>
<head>
</head>
<body>
	<ul id ="nav">
		<li>Home</li>
		<li>Sign-In & Account</li>
		<li>Booked Flights</li>
	</ul>
	<h1>Hotel Search</h1>
		<input type="text" name="search" placeholder="Location, Destination, etc.">
	<h2>Check-In Date</h2>
	<h2>Check-Out Date</h2>
	<h2>Number of People</h2>
	<button>Search for Hotels</button>
</body>
</html>