<html>
<head>
	<title>Login</title>
</head>
<body>
	<div class="login">
		<form>
			<label><b>Username</b></label>
			<input type="text" placeholder="Enter Username or Email" name="username" required>
			<label><b>Password</b></label>
			<input type="text" placeholder="Enter Password" name="password" required>
			<button type="submit">Login</button>
			<input type="checkbox" checked="checked">Remember Me
		
	</div>
	<div class="login">
		<span class="password">Forgot<a href="#"> password?</a></span>
	</div>
		</form>
</body>
</html>