<html>
<head>
	<title>Login</title>
	<img src="logo.png" height="100px">
</head>
<body>
<div class="container">
	<div class="login">
		<form>
			<label><b>Username</b></label>
			<input type="text" placeholder="Enter Username or Email" name="username" required>
			<label><b>Password</b></label>
			<input type="text" placeholder="Enter Password" name="password" required>
			<button type="submit">Login</button>
			<input type="checkbox" checked="checked">Remember Me
	</div>
	<div class="login">
		<span class="password">Forgot <a href="#">password?</a></span>
	</div>
		</form>
	</div>
</body>
</html>