#nav {
	display: inline;
	padding: 20px;
	width: 100%;
	text-align: center;
}
.container{
	background-color: #FFA7A0;
	font-family: 'Quicksand', sans-serif;
}
form {
	border: 2px solid #f1f1f1;
}

input [type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
span.password{
	float: right;
	padding-top: 16px;
}