html {
	background-color: ;
}
.nav {width: 100%; margin-left: 50px;}
ol {list-style:none; display: inline;}
ol li {float: left; padding: 10px; letter-spacing: 5px;}
li a {
	display: block;
	color: #FCFBE3;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;}
li a:hover {background-color: #E82F88;} 
footer {
	width: 100%;
	letter-spacing: 4px;
	margin-left: 200px;
	margin-top: 50px;
}