.container{
	background-color: #E8869D;
}
form {
	border: 2px solid #f1f1f1;
}
input [type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
span.password{
	float: right;
	padding-top: 16px;
}
#nav{
	background-color: yellow;
 }
#header{
	background-color: blue;
	width: 200px;
	height: 200px;
}
#login{
	color: red;
	font-family: "Times New Roman";
}
