.container{
	background-color: #f1e375;
	font-family: 'Quicksand', sans-serif;
}

 ul {
	list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0;
	}

li {
	float: left;
	}

li a {
	display: block;
	color: #FCFBE3;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	}
li a:hover {
	background-color: #E82F88;}
input [type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	box-sizing: border-box;
}
span.password{
	float: right;
	padding-top: 16px;
}

